body, html {
  padding: 0;
  margin: 0;
  background: #1d1d27;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  text-decoration:none; -webkit-tap-highlight-color:transparent;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}